.cuerpo-cabaña{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.container-carac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;
    height: 90vh;
    transform: translate(100%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}

.container-carac.active {
    transform: translate(0);
    opacity: 1;
}

.titulo-cabaña {
    font-size: 6vh;
    font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    margin-bottom: 2%;
    margin-left: 6%;
}

.texto-cabaña{
    font-size: 3vh;
    text-align: left;
    font-weight: 600;
    margin-left: 8%;
}

.caracteristicas{
    font-size: 2.3vh;
    list-style: none;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 3%;
    margin-left: 6%;
}

.caracteristicas li{
    margin: 10px;
}

.container-slider {
    display: flex;
    justify-content: center;
    text-align: center;
    transition: opacity 1s ease;
    height: 60vh; 
    margin-top: 40px;
    width: 50%;
}

.galeria {
    max-height: 100%;
    width: 89%;
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    width: 90%;
    justify-content: center;
    overflow: hidden; 
}

.sliderInner {
    display: flex;
    flex-direction: row;
    transition: transform 1s ease-in-out;
    width: 100%;
}

.imagen {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}