*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;

    

}

header{
    width: 100%;
    height: 15vh;
    background-color: #1100ffb0;
}

main{
    background: linear-gradient(180deg, rgba(255,255,255,0.9920343137254902) 30%, rgba(255,144,64,1) 50%, rgba(255,125,0,1) 70%, rgba(255,89,0,1) 80%, rgba(255,38,0,1) 90%);
}
nav {
    box-sizing: border-box;
    width: 100vw;
    background-color: rgb(31, 77, 177);
    height: 20vh;
    line-height: 5vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: height 0.3s ease, line-height 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


nav.shrink {
    height: 10vh;
    line-height: 2.5vh;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8vh;
    padding: 5px 7px;
    display: block;
}

nav ul li a:hover {
    background-color: rgba(18, 52, 124, 0.904);
}

.logo {
    font-size: 4vh;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    color: #fff;
    float: left;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li ul {
    position: absolute;
    display: none;
    background-color: rgba(31, 77, 177, 0.904);
    border-radius: 0px 0px 5px 5px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    line-height: 1;
    width: 100px;
    border-radius: 5px;
    padding: 6px;
}

nav ul li ul li a {
    padding: 5px 10px;
}

nav ul li ul li a:hover {
    background-color: rgba(18, 52, 124, 0.904);
}

.register {
    background-color: #fd7200;
    font-weight: 600;
}

.register:hover {
    background-color: #e65c01;
}

.cuerpo-cabaña{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-carac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 70vh;
    transform: translate(100%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}

.container-carac.active {
    transform: translate(0);
    opacity: 1;
}

.titulo-cabaña {
    font-size: 5vh;
    font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    margin-bottom: 5%;
    margin-left: 7%;
}

.texto-cabaña{
    font-size: 2vh;
    text-align: left;
    font-weight: 600;
    margin-left: 7%;
}

.caracteristicas{
    font-size: 1.8vh;
    list-style: none;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 3%;
    margin-left: 6%;
}

.caracteristicas li{
    margin: 10px;
}

.container-slider{
    display: flex;
    justify-content: center;
    text-align: center;
    transition: opacity 1s ease;
    height: 40vh;
    margin-top: 40px;

}

.galeria{
    max-height: 40vh;
    width: 90%;
    display: flex;
    justify-content: center;
}

.slider{
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    max-width: 333px;
    max-height: 450px;
}

.sliderInner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform 1s ease-in-out;
    width: 100%;
}

.imagen{
    width: 110%;
    height: 100%;
    max-height: 450px;
    max-width: 333px;

}

.calen-reserv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-calendario{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    transform: scale(0.2);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}
    
.container-calendario.active {
    transform: scale(1);
    opacity: 1;
}

#selectedDates{
    font-size: 2.2vh;

}

.calendar{
    width: 300px;
    background-color: #fff;
    margin: 0;
    height: auto;
    font-size: 1.8vh;
    border-radius: 5px;
    box-shadow: 0 10px 29px -7px rgba(63,63,63,0.48);


}

.calendar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-header button {
    background-color: rgb(19,65,144) ;
    border: none;
    cursor: pointer;
    font-size: 1.5vh;
    border-radius: 50%;
    margin: 15px ;
    padding: 2% 3%;
    color: #fff;
}

.calendar-header button:hover{
    background-color: rgb(6, 44, 110);
    background-color: 0.3s ease;
}



.calendar-body{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.calendar-day{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;

}

.calendar-day:hover{
    background-color: #ddd !important;
    transition: background-color 0.3s ease;
}

.calendar-day.selected{
    border: 1px solid rgb(19,65,144);
    background-color: rgba(70,201,240);
}

.calendar-day.range{
    border: 1px solid #014e05;
    background-color: rgb(70, 240, 70);
}



.titulo-reserva{
    font-size: 5vh;
    font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    padding: 3% 4%;
    margin-bottom: 5%;
    margin-left: 0%;
    

}

.container-reserva{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    transform: translate(50%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}

.container-reserva.active {
    transform: translate(0);
    opacity: 1;
}

.container-reserva form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 2vh;

}

.container-reserva for input, form textarea   {  
    margin-bottom:  16px;
    font-size: 2vh;
    padding: 4%;
    border: 1px solid rgb(3,35,54) ;
    border-radius: 10px;
    max-width: 450px;
}

#CurrentMonth{
    font-size: 1.8vh;
}


.compartir{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.titulo-compartir{
    font-size: 5vh;
    font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    margin: 0% 4% 5%;

}

.compartir p{
    font-size: 2.5vh;
    text-align: justify;
    margin: 5% 2%;
}

#formEx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 2vh;
}

.color{
    height: 50px;
    max-width: 50px;
    padding: 0%;
    background-color: #00000000;
    max-height: 50px;
}



#Contact{
    width: 100%;
    height: 250vh;
    background: linear-gradient(rgba(1, 111, 255, 0.274),rgba(88, 154, 241, 0.445)) , url(imagenes/montañas4.png), no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

#Contact h2{
    font-family: "Amatic SC", sans-serif; 
    font-size: 4vh;
    font-weight: 800;
    margin-top: 5%;
    padding: 10px;

    
}

.contact-form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    transform: translate(-50%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}

.form.active {
    transform: translate(0);
    opacity: 1;
} 


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 2vh;

}


form label{
    margin-bottom: 1%;

}

form input, form textarea {
    margin-bottom:  16px;
    margin-right: 5%;
    font-size: 2vh;
    padding: 2%;
    border: 1px solid rgb(3,35,54) ;
    border-radius: 10px;
    width: 100%;
}

form button{
    padding: 4% 6%;
    border: solid #ffffff 1px;
    background-color: rgb(3,35,54) ;
    color: #fff;
    cursor: pointer;
    margin: 10px 15px;
    font-size: 2vh;
}

form button:hover{
    background-color:rgb(0, 26, 41);
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.button-delete{
    background-color: rgb(173, 22, 22)
    ;
}

.button-delete:hover{
    background-color: rgb(118, 13, 13) ;

}

.map-container {
    width: 90%;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.map{
    width: 100%;
    max-width: 450px;
    transform: scale(0.2);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}
    
.map.active {
    transform: scale(1);
    opacity: 1;
} 


.container-tarjetas-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 10px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-size: 1.3vh;
    color: #ffffff;
    margin-top: 2vh;
    max-width: 200px;
}

.tarjetas{
    width: 100%;
    padding: 10px;
    margin: 3%;
    background-color: #6d67679a;
    display: flex;
    align-items: center;
    transform: translateY(50%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}

.tarjetas.active {
    transform: translateY(0);
    opacity: 1;
}

.tarjetas:nth-child(2) {
    transition-delay: 0.6s;
}

.tarjetas:nth-child(3) {
    transition-delay: 0.8s;
}

.tarjetas:nth-child(4) {
    transition-delay: 1s;
}


.tarjetas h4 {
    font-size: 2vh;
}

.tarjetas p{
    font-size: 2vh;
}


.contactIcon{
    font-size: 3vh;
    margin-right: 20px;

}


.footer{

    font-size: 2vh;
    background-color: rgb(3, 35, 54);
    color: #ffffff;
    height: 10vh;
    width: 100vw;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;

}



.star-rating {
    display: inline-block;
    direction: ltr;
}

.star {
    font-size: 40px;
    color: #ccc; 
    cursor: pointer;
    transition: color 0.2s;
}


.star:hover {
    color: #f39c12; 
}

.star.selected {
    color: #f39c12; 
}

.container-compartir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardContainer{
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 2px solid; 
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    display: inline-block; 
    vertical-align: top; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 5px;
}


.card .star-rating{
    color: #f39c12;
    margin-bottom: 1%;
    border-color: #000000;
    font-size: 5vh;
}



.card img{
    width: 100%;
    height: auto;
}


.card-content{

    margin-top: 1%;
    color: #000;

}

input:valid{
    border-color: green;
}

input:invalid{
    border-color: red;
}





@media (min-width:425px) {


    nav {
        height: 18vh;
        justify-content: space-around;

    }
}

@media (min-width:580px) {
    
    .logo {
        font-size: 5vh;
    
    }
    
    nav ul li a{
        font-size: 2vh;

    }


    
    #Contact h2 {
        font-size: 5vh;

    }

    form {
        font-size: 2.3vh;
    }

    form input, form textarea {
        font-size: 2.3vh;

    }

    form button {
        padding: 3% 5%;
        font-size: 2.3vh;
    }

    .container-tarjetas-contacto {
        flex-direction: row;
        width: 100%;
        font-size: 1.6vh;
    }

}

@media (min-width:600px) {

    #Contact{
        height: 150vh;
    }

    .contact-form{
        width: 100%;
        flex-direction: row;
    }

    .map-container {
        width: 90%;
        margin: 0 20px;
        display: flex;
        justify-content: center;
        height: 80%;
        margin-bottom: 80px;
    }
    
    .map{
        width: 100%;
        height: 100%;
    }
}

@media (min-width:650px) {
    .tarjetas h4 {
        font-size: 2.5vh;
    }
    
    .tarjetas p{
        font-size: 2.5vh;
        
    }

    .tarjetas{
        padding: 10px 20px;
    }
    
    
    .contactIcon{
        font-size: 3.5vh;
        margin-right: 20px;
    
    }


    
}

@media (min-width:670px) {

    .cuerpo-cabaña{
        flex-direction: row;
        margin: 5% 7% ;

    }

    .galeria{
        width: 50vw;

    }

    .calen-reserv{

        flex-direction: row;
        justify-content: space-around;
        margin: 10% 7%;
        
    }

    .container-calendario {
        width: 50%;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 0 ;
        margin-left: 25px;

    }

    .container-reserva {
        width: 45%;
        align-items: normal;
    }

    .compartir{
        display: flex;
        flex-direction: row;
        margin: 5% 7% ;
    }

    .container-compartir{
        width: 50%;


    }

    .container-tarjetas{
        width: 50%;
    }


    
}

@media (min-width:768px) {

    .caracteristicas {
        font-size: 2vh;
    }

    .texto-cabaña {
        font-size: 2.5vh;
    }

    .titulo-cabaña {
        font-size: 5.5vh;

    }

    .logo {
        font-size: 5.5vh;
    
    }
    
    nav ul li a{
        font-size: 2.5vh;

    }

    .calendar{
        width: 350px;
        background-color: #fff;
        margin: 0;
        height: auto;
        font-size: 1.8vh;
        border-radius: 5px;
        box-shadow: 0 10px 29px -7px rgba(63,63,63,0.48);
    
    
    }

    
}

@media (min-width:800px) {
    nav {
        height: 16vh;
    }

    .logo {
        font-size: 5.5vh;
    }

    nav ul li a {
        font-size: 2.5vh;
    }



}

@media (min-width:860px) {

}

@media (min-width:930px) {
    form {
        margin: 2% 0 2% 5% ;

    }

    .button-container{
        margin-right: 7%;
    }
    
}
